<h1>連携完了</h1>
<% if @access_token.present? %>
  <p>アクセストークン : <%=@access_token.token %></p>
  <p>リフレッシュトークン: <%=@access_token.refresh_token %></p>
  <p>アクセストークンの期限: <%=@access_token.expires_in %></p>
<% else %>
  <p>連携が拒否されました</p>
<% end %>
