<h1>Oauth#index</h1>
<p><%= link_to t('authorize'), authorization_path, class: 'btn btn-success' %></p>
<p></p>
<p><%= link_to t('freee_authorize'), freee_authorization_path, class: 'btn btn-success' %></p>
